<p id="notice"><%= notice %></p>

<h1>Listing Restaraunts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Rating</th>
      <th>Is open</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaraunts.each do |restaraunt| %>
      <tr>
        <td><%= restaraunt.name %></td>
        <td><%= restaraunt.address %></td>
        <td><%= restaraunt.rating %></td>
        <td><%= restaraunt.is_open %></td>
        <td><%= link_to 'Show', restaraunt %></td>
        <td><%= link_to 'Edit', edit_restaraunt_path(restaraunt) %></td>
        <td><%= link_to 'Destroy', restaraunt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaraunt', new_restaraunt_path %>
