<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaraunt.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaraunt.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaraunt.rating %>
</p>

<p>
  <strong>Is open:</strong>
  <%= @restaraunt.is_open %>
</p>

<%= link_to 'Edit', edit_restaraunt_path(@restaraunt) %> |
<%= link_to 'Back', restaraunts_path %>
